<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Fog City Flicks</title>
    <link href="{{ url_for('static', filename='css/uber.css') }}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    {# Main DOM Elements ############}
    <div id="container">
      <div id="sidebar">
        <strong>Refine These Results</strong>
        <section class='sidebar-input'>
          Filter By Title: <input type='text' id='movie-title-filter' placeholder='Filter By Title' />
        </section>
        <section class='sidebar-input'>
          Filter By Year:
          <select id='movie-year-filter' placeholder='Filter By Title'>
            <option value='1999'>Later Than 1999</option>
            <option value='1999'>Later Than 2000</option>
          </select>
        </section>
      </div>
      <div id="content">
        <div id="map-canvas"></div>
      </div>
    </div>

    {# JS Includes ##################}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}&sensor=false" type="text/javascript" ></script>

    {# Google Maps Initialization ###}
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(37.7533, -122.4173),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(
          document.getElementById("map-canvas"),
          mapOptions
        );
        var infowindow = new google.maps.InfoWindow();

        // Create the initial markers
        {% for movie in movies %}
          {% for lat_long in movie.geolocation %}
            marker = new google.maps.Marker({
              map: map,
              position: new google.maps.LatLng({{ lat_long.lat }}, {{ lat_long.lng }}),
              title:  "{{ movie.title }}",
              clickable: true
            });

            // Attach click events to each marker binding it to an info window
            var infowindow = new google.maps.InfoWindow({content: ''});
            bindInfoWindow(marker, map, infowindow, "{{ movie.format_info|safe }}", '{{ movie.title }}' );
            function bindInfoWindow(marker, map, infowindow, html, Ltitle) {
              google.maps.event.addListener(marker, 'mouseover', function() {
                infowindow.setContent(html);
                infowindow.open(map, marker);
              });
              google.maps.event.addListener(marker, 'mouseout', function() {
                infowindow.close();
              });
            }

          {% endfor %}
        {% endfor %}
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script>

      var Movies = Backbone.Collection.extend({
        url: "/foo/"
      });

      var MovieFilter = Backbone.View.extend({
        el: '#filter-results',
        render: function () {
          // var that = this;
          // var movies = new Movies();
          alert('hi')
          // movies.fetch({
          //   success: function (movies) {
          //     // var template = _.template($('#user-list-template').html(), {users: users.models});
          //     // that.$el.html(template);
          //     console.log('hello')
          //   }
          // });
        }
      });

      var Router = Backbone.Router.extend({
        routes: {
          '': 'home'
        }
      });

      var movieFilterView = new MovieFilter();

      var router = new Router();
      router.on('route:home', function(){
        movieFilterView.render();
      });


    </script>
  </body>
</html>