<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Fog City Flicks</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/uber.css') }}" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='img/favicon.jpg') }}">
  </head>

  <body>
    {# Main DOM Elements ############}
    <div id="container">

      {# Left side content #}
      <div id="sidebar">
        <h3>Refine These Results</h3>
        <section class='sidebar-input'>
          <div class="ui-widget">
            <label for="movie-title">Movie Title: </label><br/>

            {# Autocompletion input #}
            <input type='text' id='autocomplete-input' placeholder='Filter By Title' class='form-control' />

            {# Autocompleted results will be appended to this list #}
            <ul id='autocomplete-result-container' class='dn'></ul>
          </div>
        </section>

        {# Information about the selected movie will be dynamically managed here #}
        <section class='sidebar-input'>
          <label id='selected-movie-title'></label><br/>
          <div id='selected-movie-info'></div>
        </section>
      </div>

      {# Right side content (map) #}
      <div id="content">
        <div id="map-canvas"></div>
      </div>

      {# Footer #}
      <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
        <section id='history-container'>
          <b>History:</b>
          <ul id='history'>
          </ul>
        </section>

        <div class="navbar-header">
          <h1><i class='icon-movie4'></i> Fog City Flicks</h1>
        </div>
        <p class="navbar-text pull-right love">
          Built with Flask, jQuery and caffeine by <a href="http://www.seancoonce.com/uber/" class="navbar-link">Sean Coonce</a>.<br />
          To use, simply interact with the map or search for movies using the autocompleter to the left.
        </p>
      </nav>
    </div>



    {# JS Includes ##################}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    {# <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script> #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js" type="text/javascript"></script>
    <script src="//maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}&sensor=false" type="text/javascript" ></script>


    <script>
      // Bootstrap the default movie data
      var MovieLocation = Backbone.Model.extend({
        defaults: function(){
          return {
            title: "",
            lat: 0,
            lng: 0,
            address: ""
          };
        }
      });

      var MovieLocationList = Backbone.Collection.extend({
        model: MovieLocation
      });
      var movieLocations = new MovieLocationList();

      // Instantiate a new MovieLocation object for each movie and
      // add each to the movieLocations collection.
      {% for movie in movies %}
        {% for position_tuple in movie.serialize().addy_plus_geo %}
          var movieLocation = new MovieLocation({
            'title': '{{ movie.title }}',
            'lat': {{ position_tuple.1.lat }},
            'lng': {{ position_tuple.1.lng }},
            'address': '{{ position_tuple.0 }}',
          });
          movieLocations.add(movieLocation);
        {% endfor %}
      {% endfor %}

      var urlMovies = "{{ url_for ('movies') }}";

      // $(function() {
      //   var markers = [];   // Array to manage all map markers
      //   var history = {};   // Dict to manage selected movie history
      //   var map = null;

      //   // Update the app with fresh movie data (either from history or from async req)
      //   function updateAppWithMovieData(data){

      //     // Flush all markers from the map and add new markers for the selected movie
      //     removeMarkers();
      //     $.each(data, function(i, movie){
      //       $.each(movie.geolocation, function(x, location){
      //         createMarker(map, location.lat, location.lng, movie.title);
      //       });
      //     });

      //     // Update the `movie info` divs with the selection
      //     $('#selected-movie-title').html(data.movie.title);
      //     $('#selected-movie-title').css('background: #ccc;')
      //     address_string = 'No addresses available.'
      //     if(data.movie.addresses.length > 0){
      //       address_string = '<ul class="addresses"><li>' + data.movie.addresses.join('</li><li>') + '</li></ul>'
      //     }
      //     $('#selected-movie-info').html(address_string);

      //     // Add the movie object to the `history` dictionary
      //     if (data.movie.title in history)
      //       return;
      //     history[data.movie.title] = data;

      //     // Add an element to the history ul (if it doens't already exist)
      //     $('#history').children('li').children('a')
      //     var history_li = $('<li><a>'+data.movie.title+'</a></li>');
      //     history_li.click(function(e, element){
      //       updateAppWithMovieData(history[data.movie.title]);
      //     });

      //     $('#history').append(history_li);
      //   }

      //   // Update the map markers based on the movie selected in the autocompleter
      //   function processAutoCompleteSelection(item){
      //     // Make an aynsc request to fetch the specific movie
      //     $.ajax({
      //       url: "{{ url_for ('movies') }}" + encodeURIComponent(item.value),
      //       dataType: "json",
      //       type: "get",
      //       success: updateAppWithMovieData
      //     });
      //   }

      //   // Async request to fetch and format the `source` for the autocompleter
      //   function formatSource(request, response) {
      //     $.ajax({
      //       url: "{{ url_for ('movies') }}?term=" + encodeURIComponent(request.term),
      //       dataType: "json",
      //       type: "get",
      //       success: function (data) {
      //         response($.map(data['movies'], function(item) {
      //           return {label: item.title};
      //         }));
      //       }
      //     });
      //   }

      //   // Bind the autocompleter to the `movie-title` input
      //   $("#movie-title").autocomplete({
      //     minLength: 2,
      //     source: formatSource,
      //     select: function(event, ui) {
      //       // Process a successful choice from the autocompleter
      //       processAutoCompleteSelection(ui.item);
      //     }
      //   });


      // });
    </script>
    <script src="{{ url_for('static', filename='js/uber-backbone.js') }}" type="text/javascript"></script>

    <!-- Javascript Templates -->
    <script type="text/template" id="autocomplete-result">
      <%- title %>
    </script>

  </body>
</html>