<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Fog City Flicks</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/uber.css') }}" rel="stylesheet">
  </head>

  <body>
    {# Main DOM Elements ############}
    <div id="container">
      {# Left side content #}
      <div id="sidebar">
        <h3>Refine These Results</h3>
        <section class='sidebar-input'>
          <div class="ui-widget">
            <label for="movie-title">Movie Title: </label><br/>
            <input type='text' id='movie-title' placeholder='Filter By Title' class='form-control' />
          </div>
        </section>
        <section class='sidebar-input'>
          <label id='selected-movie-title'></label><br/>
          <div id='selected-movie-info'></div>
        </section>
      </div>
      {# Right side content (map) #}
      <div id="content">
        <div id="map-canvas"></div>
      </div>
      {# Footer #}
      <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation">
        <div class="navbar-header">
          <h1><i class='icon-movie4'></i> Fog City Flicks</h1>
        </div>
        <p class="navbar-text pull-right love">
          Built with Flask, jQuery and caffeine by <a href="https://github.com/cooncesean/uberchallenge" class="navbar-link">Sean Coonce</a>.<br />
          To use, simply interact with the map or search for movies using the autocompleter to the left.
        </p>
      </nav>
    </div>

    {# JS Includes ##################}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
    <script src="//maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}&sensor=false" type="text/javascript" ></script>

    <script>
      $(function() {
        var markers = [];   // Array to manage all map markers
        var history = [];   // Array to manage selected movie history
        var map = null;

        // Update the map markers based on the movie selected in the autocompleter
        function updateMarkers(item){
          // Make an aynsc request to fetch the specific movie
          $.ajax({
            url: "{{ url_for ('movies') }}" + encodeURIComponent(item.value),
            dataType: "json",
            type: "get",
            success: function (data) {
              // Flush all markers from the map and add new markers
              removeMarkers();
              $.each(data, function(i, movie){
                $.each(movie.geolocation, function(x, location){
                  createMarker(map, location.lat, location.lng, movie.title);
                });
              });

              // Update the `movie info` divs with the selection
              $('#selected-movie-title').html(data.movie.title);
              $('#selected-movie-title').css('background: #ccc;')
              address_string = 'No addresses available.'
              if(data.movie.addresses.length > 0){
                address_string = '<ul class="addresses"><li>' + data.movie.addresses.join('</li><li>') + '</li></ul>'
              }
              $('#selected-movie-info').html(address_string);

              // Add the movie object to the `history` array
              history.push(data);
              console.log(history)
            }
          });
        }

        // Async request to fetch and format the `source` for the autocompleter
        function formatSource(request, response) {
          $.ajax({
            url: "{{ url_for ('movies') }}?term=" + encodeURIComponent(request.term),
            dataType: "json",
            type: "get",
            success: function (data) {
              response($.map(data['movies'], function(item) {
                return {label: item.title};
              }));
            }
          });
        }

        // Bind the autocompleter to the `movie-title` input
        $("#movie-title").autocomplete({
          minLength: 2,
          source: formatSource,
          select: function(event, ui) {
            // Mark the movie's location on the map
            updateMarkers(ui.item);
          }
        });

        // Utility to remove all markers from the map
        function removeMarkers() {
          while(markers.length){
            markers.pop().setMap(null);
          }
        }

        // Utility to create a new marker on the map
        function createMarker(map, lat, lng, title){
          marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(lat, lng),
            title:  title,
            clickable: true
          });

          // Append the marker to the `markers` list
          markers.push(marker);

          // Attach mouse events to each marker binding it to an info window
          var infowindow = new google.maps.InfoWindow({content: ''});
          bindInfoWindow(marker, map, infowindow, '<p>'+title+'</p>', title);
          function bindInfoWindow(marker, map, infowindow, html, title) {
            google.maps.event.addListener(marker, 'mouseover', function() {
              infowindow.setContent(html);
              infowindow.open(map, marker);
            });
            google.maps.event.addListener(marker, 'mouseout', function() {
              infowindow.close();
            });
          }
        }

        // Google Maps initialization
        function initialize() {
          var mapOptions = {
            center: new google.maps.LatLng(37.7533, -122.4173),
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          map = new google.maps.Map(
            document.getElementById("map-canvas"),
            mapOptions
          );
          var infowindow = new google.maps.InfoWindow();

          // Create the initial markers
          {% for movie in movies %}
            {% for lat_long in movie.geolocation %}
              createMarker(map, {{ lat_long.lat }}, {{ lat_long.lng }}, "{{ movie.title }}");
            {% endfor %}
          {% endfor %}
        }
        google.maps.event.addDomListener(window, 'load', initialize);
      });
    </script>
  </body>
</html>