html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#sidebar, #content{
    position: absolute;
    top: 0;
    bottom: 0;
}
#sidebar{
    left: 0;
    width: 20em;
    background: #eaeaea;
    padding: 5px;
    border-right: 1px solid #ccc;
}
#content{
    left: 20em;
    right: 0;
}
#map-canvas{
    height: 100%;
}