html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#sidebar, #content{
    position: absolute;
    top: 0;
    bottom: 0;
}
#sidebar{
    left: 0;
    width: 20em;
    background: #eaeaea;
    padding: 5px;
    border-right: 1px solid #ccc;
}
#content{
    left: 20em;
    right: 0;
}
#map-canvas{
    height: 100%;
}
.sidebar-input{
    width:100%;
    border-top:1px solid #ccc;
    padding: 10px 0px;
    margin: 10px 0px;
}
#movie-title{
    width: 100%;
}
.ui-helper-hidden-accessible{
    display: none;
}
ul#ui-id-1{
    padding: 0px;
    margin: 3px;
    width: 270px;
    background: rgb(240, 248, 255);
}
ul#ui-id-1 li{
    display: block;
    cursor: pointer;
    padding: 10px 0px;
}
a.ui-state-focus{
    font-weight:bold;
}